<div class="container">
  <hr>
  <h1 class="text-center"><%= @group.name.capitalize %></h1>
  <hr>
  <div class="members">
    <h3>Group members</h3>
    <div class="row justify-content-around">
      <% @members.each do |member| %>
        <div class="col-lx-6">
          <div class="card-member">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            <div class="card-member-infos">
              <h2><%= member.user.first_name %> <%= member.user.last_name %></h2>
              <% if @group.user_id == current_user.id %>
              <%= link_to "delete", group_membership_path(@group, member), class: "btn btn-danger mt-2", data: {confirm: "Are you shure you want to #{member.user.first_name} #{member.user.last_name} this member from the group"}, method: :delete  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  </div>

  <div class="dinners">
    <h3>Dinners</h3>
    <div class="row d-flex align-items-center justify-content-around">
      <% @dinners.each do |dinner| %>
          <div class="card-dinner col-md-5">
            <div class="card-dinner-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <%= link_to dinner.name, group_dinner_path(@group, dinner) %>
            </div>
              <div class="card-dinner-body">
                Here some text
              </div>
              <% if current_user.admin %>
              <div class="card-dinner-footer">
                <%= link_to (raw('<span class="icon text-white-50"><i class="far fa-edit"></i></span><span class="text">Edit</span>')), edit_group_dinner_path(@group, dinner), class: "btn btn-primary btn-icon-split" %>
                <%= link_to (raw('<span class="icon text-white-50"><i class="far fa-trash-alt"></i></span><span class="text">Delete</span>')), group_dinner_path(@group, dinner), class: "btn btn-danger btn-icon-split" , data: {confirm: "Are you sure you whant to delete #{dinner.name}?"}, method: :delete %>
              </div>
              <% end %>
          </div>

      <% end %>
    </div>
  </div>
  <%= link_to "Back", groups_path  %> |
  <%= link_to "Organize Dinner", new_group_dinner_path(@group)  %> |
  <%= link_to "Invite People to the group", new_group_membership_path(@group) %>
</div>
